.ipynb_checkpoints
.idea
Solutions/.DS_Store
Solutions/Chapters/.DS_Store
Solutions/Chapters/2- Numerical Methods/Ex_12.1.ipynb
Solutions/Chapters/2- Numerical Methods/Ex_12.2.ipynb
Solutions/Chapters/2- Numerical Methods/Ex_12.3.ipynb
Solutions/Chapters/2- Numerical Methods/Ex_12.4.ipynb
Solutions/Chapters/2- Numerical Methods/Ex_12.5.ipynb
Solutions/Chapters/2- Numerical Methods/Ex_12.6.ipynb
Solutions/Chapters/2- Numerical Methods/Ex_12.7.ipynb
Solutions/PS/PS1_solutions.ipynb
Solutions/PS/PS2_solutions.ipynb
Solutions/PS/PS3_solutions.ipynb
